
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');


#lightSwitch{
    transform: scale(1.2);
}

.custom-theme.bg-light{
    background-color: rgb(177, 188, 199) !important;
    border-radius: 3px;
    color: #ffffff;

}

.custom-theme.bg-dark {
    background-color: rgb(40,40,40) !important;
    box-shadow: 2px 2px 2px rgba(200, 200, 200, 0.8);
    color: ghostwhite;

}


/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/* footer social icons */
.social-network a.icoGithub:hover {
    background-color: #7fc77d;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.0rem;
}

.navbar-toggler-icon{
    background-image: none;
}

.navbar-toggler-icon::before {
    font-family: "Arial Rounded MT Bold", serif;
    content: "\f0c9"; /* fa-bars, fa-navicon */
}

.navbar a li{
    background-color: rgb(119, 124, 137);
    border-radius: 10px;
    padding: 5px;
    color: white;

}


.navbar a:hover{
    background-color: #0090ff;
}
.navbar li{
    /*padding-left: 30px;*/
    /*padding-right: 30px;*/
    margin-left: 5rem;
    margin-right: 5rem;

}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
                0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}


.social-network a{
    background-color: #9f9494;
}









.opening p{
    color: #98b6cc;
    font-weight: bold;

}


.about{
    background-color: rgba(113, 128, 176, 0.7);
}


.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
    transition: all 1.5s;
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}



.show{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}



.card.hidden:nth-child(1){
    transition-delay: 100ms;
}

.card.hidden:nth-child(2){
    transition-delay: 300ms;
}

.card.hidden:nth-child(3){
    transition-delay: 500ms;
}
.card.hidden:nth-child(4){
    transition-delay: 500ms;
}
.card.hidden:nth-child(5){
    transition-delay: 600ms;
}

.hidden.about-me{
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: all 1s;

}

.show.about-me{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);

}

.hidden.project{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;

}

.show.project{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.hidden img{
    opacity: 1;
    filter: blur(7px);
    transform: translateX(100%);
    transition: all 1s;
}
.show img{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}







.card{
    background-color: rgba(50, 150, 200, 0.8);
}

.card-text.bg-light{
    color: black;
    border-radius: 20px;
    padding: 10px;
}
.card-text.bg-dark{
    color: ghostwhite;
    border-radius: 20px;
    padding: 10px;
}

.about h5{
    color: #000;
}


.card-header .bg-light{
    color: black;
    background-color: lightgray;
    font-size: large;
}
.card-header .bg-dark{
    color: white;
    background-color: dimgray;
    font-size: large;
}


.container h1{
    padding-bottom: 5px;
}

.row{
    padding-bottom: 25px;
}

.card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;


}
.skills h1{
    text-shadow: black 3px 3px;
}

.skills{
    background-color: rgba(10, 100, 200, 0.8);
    background-blend-mode: color-burn;
    backdrop-filter: blur(40px);
}


.projects {
    background-color: rgba(30, 40, 50, 0.8);
}
.projects h1.section-title{
    color: ghostwhite;
    text-shadow: black 3px 3px 3px;
}
.projects span{
    color: dodgerblue;
    text-shadow:black 1px 1px 5px;

}
.projects div.title{
    background-color: rgba(20,20,20, 0.9);
    border-style: wave;
    border-radius: 10px;
}
.projects p{
    color: lightgray;
    text-shadow: black 4px 4px 4px;
}
.education{
    background-color: rgba(150,100,200, 0.8);

}

.education span{
    color: floralwhite;
    text-shadow:black 1px 1px 5px;
}

.education div.title{
    background-color: rgba(0,0,0, 0.5);
    border-style: wave;
    border-radius: 10px;
}
.education div.title-major{

    background-color: rgba(0,0,0, 0.3);
    border-style: wave;
    border-radius: 10px;
}
.education img{

    border: 7px solid darkslategray;
    border-radius: 10px;

}
.education figure{
    float: right;
    padding-left: 30px;

}
.education img.circle{
    width:120px;
    margin: 10px;

    border:7px solid darkslategrey;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

.education  h1.section-title, h1.courses{
    color: ghostwhite;
    text-shadow: black 3px 3px 3px;

}
.education h2{
    color: #FFF;
    text-shadow: black 3px 3px 3px;

}




.education p{
    background-color: rgba(10,10,10, 0.8);
    background-size: inherit;
    border-radius: 20px;
    color: ghostwhite;
    text-shadow: black 2px 2px 3px;
    padding: 15px;
    font-style: oblique;
    font-size: 22px;


}
.accordion-button.collapsed {
    background-color: #575c6c;
    color: #e1e7ea;

}
.accordion-body{
    background-color: lightgray;
}
.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}



